node_modules
.env

# Hardhat files
/cache
/artifacts

# Ignition deployment history
/ignition/deployments

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
